@{
    ViewBag.Title = "repassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>取回密码</h2>
@section Content{
    <div class="main-box">
        <div class="section clearfix">

            <!--取回密码-->
            <script type="text/javascript">
                var countdown = 60;

                function settime(obj) {

                    if (countdown == 0) {
                        obj.removeAttribute("disabled");
                        obj.value = "免费获取验证码";
                        countdown = 60;
                        return;
                    } else {
                        obj.setAttribute("disabled", true);
                        obj.value = "重新发送(" + countdown + ")";
                        countdown--;
                    }

                    setTimeout(function() {
                        settime(obj);
                    }, 1000);
                }

                function ClickCode(obj) {
                    if ($("#txtUserName").val() == "" || $("#telPhone").val() == "") {
                        dialog({ title: '提示', content: "用户名和手机号均不能为空", okValue: '确定', ok: function() {} }).width(200).showModal();
                        return;
                    }
                    $.post("/userlogin/SendSMS", { username: $("#txtUserName").val(), telphone: $("#telPhone").val() }, function(data) {
                        if (data.status == 0) {
                            dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function() {} }).width(200).showModal();
                        } else {
                            settime(obj);
                        }
                    });
                }

//====================初始化验证表单====================
                $(function() {
                    //提交表单
                    $("#btnSubmit").bind("click", function() {
                        if ($("#txtUserName").val() == "" || $("#telPhone").val() == "") {
                            dialog({ title: '提示', content: "用户名和手机号均不能为空", okValue: '确定', ok: function() {} }).width(200).showModal();
                            return false;
                        }
                        $.ajax({
                            type: "POST",
                            url: $("#pwdform").attr("url"),
                            dataType: "json",
                            data: {
                                UserName: $("#txtUserName").val(),
                                telPhone: $("#telPhone").val(),
                                txtCode: $("#txtCode").val(),
                                Password: $("#Password").val(),
                                qPassword: $("#qPassword").val()
                            },
                            timeout: 20000,

                            success: function(data) {
                                if (data.status == 1) {
                                    dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function () { } }).width(200).showModal();
                                    window.location.href = data.url;
                                } else {
                                    dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function() {} }).width(200).showModal();
                                }
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                dialog({ title: '提示', content: "状态：" + textStatus + "；出错提示：" + errorThrown, okValue: '确定', ok: function() {} }).showModal();
                            }
                        });
                        return false;
                    });
                });
            </script>
            <div class="main-tit">
                <h2>取回密码</h2>
            </div>
            <div class="inner-box">
                <form id="pwdform" name="pwdform" url="/userlogin/Submit">
                    <div class="dl-list">

                        <dl>
                            <dt>用 户 名：</dt>
                            <dd>
                                <input id="txtUserName" name="txtUserName" type="text" class="input txt" datatype="*1-50" sucmsg=" "/>
                            </dd>
                        </dl>
                        <dl>
                            <dt>手机号：</dt>
                            <dd>
                                <input id="telPhone" name="telPhone" type="text" class="input txt" datatype="*1-50" sucmsg=" "/>
                            </dd>
                        </dl>
                        <dl>
                            <dt>密码：</dt>
                            <dd>
                                <input id="Password" name="Password" type="password" class="input txt" datatype="*1-50" sucmsg=" "/>
                            </dd>
                        </dl>
                        <dl>
                            <dt>确认密码：</dt>
                            <dd>
                                <input id="qPassword" name="qPassword" type="password" class="input txt" datatype="*1-50" sucmsg=" "/>
                            </dd>
                        </dl>
                        <dl>
                            <dt>验 证 码：</dt>
                            <dd>
                                <input id="txtCode" name="txtCode" type="text" class="input code" placeholder="输入验证码" datatype="s4-20" nullmsg="请输入右边显示的验证码" sucmsg=" "/>
                                <input type="button" id="btn" class="btn" value="免费获取验证码" onclick="ClickCode(this)" width="80" height="22"/>

                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <input name="btnSubmit" id="btnSubmit" type="submit" class="btn btn-success" value="确认提交"/>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
            <!--取回密码-->



        </div>
    </div>

}