@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<script src="~/Scripts/Common.js"></script>
    <script type="text/javascript">
        var GoodstypeCtrl = Object.create(Common);
        $(function () {
            var urls = {
                urladd: "/goodsmanage/GoodsType/add",
                urledit: "/goodsmanage/GoodsType/edit",
                urldelete: "/goodsmanage/GoodsType/delete"
            };
            GoodstypeCtrl.Init($("#dg"), $("#goodstype"), urls);
            $('#dg').datagrid({
                width: '100%',
                height: '100%',
                url: '/goodsmanage/GoodsType/getallGoodsTypes',
                pageSize: 20,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                toolbar: "#toolbar",
                columns: [[
                    { field: 'ck', width: 50, checkbox: true },
                    { field: 'TypeName', title: '类型名', width: 80 },
                    { field: 'English', title: '英文名', width: 80, align: 'center' },
                    { field: 'NodeID', title: '上级节点', width: 100, align: 'center' },
                    { field: 'Url', title: '链接地址', width: 120},
                    

                ]]
            });
            //设置分页控件 
            var p = $('#dg').datagrid('getPager');
            $(p).pagination({
                pageSize: 20,//每页显示的记录条数，默认为10 
                pageList: [10, 20, 50],//可以设置每页记录条数的列表 
                beforePageText: '第',//页数文本框前显示的汉字 
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',

            });
        });


	</script>

   <div id="p" class="easyui-panel" fit="true" border="false">
       <table id="dg"></table>
   </div>
 
     <div id="toolbar">
            
                <a id="a_add"     href="#" plain="true" class="easyui-linkbutton" icon="icon-group_add"   onclick="GoodstypeCtrl.addClick()">新增</a>
                <a id="a_edit"    href="#" plain="true" class="easyui-linkbutton" icon="icon-group_edit" onclick="GoodstypeCtrl.editClick()" >编辑</a>
                <a id="a_del"     href="#" plain="true" class="easyui-linkbutton" icon="icon-group_delete"  onclick="GoodstypeCtrl.deleteClick()">删除</a>
            <div style="float:right;">
   
                <input type="hidden" name="Itemid" id="Itemid" value="1" />
	    <input name="KeyString" id="KeyString" type="text"class="easyui-textbox" onkeydown="if(event.keyCode==13){GoodstypeCtrl.doSearch();}">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="GoodstypeCtrl.doSearch()">搜索</a>
        </div>

    </div>   
    <div id="goodstype"></div>
