@model HNCJ.Model.UserInfo
@{
    ViewBag.Title = "个人中心-修改密码";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>修改密码</h2>
@section Content{
<div class="u-tab-head">
        <p>
          <a  href="/UserInfo/MyDetails">个人资料</a>
          <a class="selected" href="/UserInfo/ModifyPwd">修改密码</a>
        </p>
      </div>
<div class="u-tab-content">
        <div class="title-div">
          <strong>修改密码</strong>
        </div>
    @using (Ajax.BeginForm(new AjaxOptions() {OnSuccess="AfterModify" }))
    {
        <div class="form-box">
              <dl>
                <dt>用户名：</dt><dd>@Model.UserName</dd>
              </dl>
              <dl>
                <dt>旧密码：</dt>
                <dd>
                  <input id="oldpwd" name="oldpwd" type="password" class="input txt" />
                </dd>
              </dl>
              <dl>
                <dt>新密码：</dt>
                <dd>
                  <input id="newpwd1" name="newpwd1" type="password" class="input txt" />
                </dd>
              </dl>
              <dl>
                <dt>确认新密码：</dt>
                <dd>
                  <input id="newpwd2" name="newpwd2" type="password" class="input txt" />
                </dd>
              </dl>
              <dl>
                <dt></dt>
                <dd>
                  <input type="submit" class="btn btn-success" value="确认修改" />
                </dd>
              </dl>
        </div>
    }
</div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
     <script type="text/javascript">
         function AfterModify(data) {
             if (data.status == 1) {
                 var d = dialog({ content: data.msg }).show();
                 setTimeout(function () {
                     d.close().remove();
                     window.location.href = "/UserInfo/Exits";
                 }, 2000);
             } else {
                 dialog({ title: '提示', content: data.msg, okValue: '确定', ok: function () { } }).showModal();
             }
         }
         $("form").validate({
             rules: {
                 oldpwd: {
                     required: true
                 },
                
                 newpwd1: {
                     required: true,
                     minlength: 6,
                     maxlength: 32
                 },
                 newpwd2: {
                     required: true,
                     minlength: 6,
                     equalTo: "#newpwd1"
                 }
             },
             messages: {
                 oldpwd: {
                     required: "旧密码能为空吗？"
                     
                 },
                 
                 newpwd1: {
                     required: "请输入密码",
                     minlength: jQuery.format("密码不能小于{0}个字 符"),
                     maxlength: jQuery.format("密码不能大于{0}个字 符")
                 },
                 newpwd2: {
                     required: "请输入确认密码",
                     minlength: "确认密码不能小于6个字符",
                     equalTo: "两次输入密码不一致"
                 }
             }
         });
     </script>

    }