@{
    ViewBag.Title = "帮吆喝系统-联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Links</h2>
@section Content{
    <!----------------------------------中间内容----------------------------------->
   <div class="section clearfix">
  
  
  <!--左边-->
  <div class="list-auto">
    <div class="ntitle">
      <h2>
        <a href="javascript:;">联系我们</a>
      </h2>
      
    </div>
    
    <div class="entry">
      <p>
	<strong>校园物易物系统 </strong> 
</p>
<p>
	</p>
<p>
	<strong>所在地区：</strong>平顶山市新华区河南城建学院
</p>
<p>
	<strong>业务电话：</strong>18903907942
</p>
<p>
	<strong>腾讯微博：</strong><a href="http://t.qq.com/chenbin15890739755" target="_blank">http://t.qq.com/chenbin15890739755</a> 
</p>
<p>
	<strong>技术Q群：</strong>526742345
</p>
<p>
	<strong>电子邮箱：</strong><a href="mailto:1247954091@qq.com">1247954091@qq.com</a> 
</p>
    </div>
    
    <!--分享-->
      <!-- JiaThis Button BEGIN --> 
  <div id="ckepop">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_tqq">腾讯</a>
      
  </div> 
  <!-- JiaThis Button END -->
  <script type="text/javascript">var jiathis_config = { data_track_clickback: true };</script> 
  <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1336353133859589" charset="utf-8"></script>
    <!--/分享-->
    
  </div>
  <!--/左边-->
  
</div>



<!-----------------------------------------------中间内容------------------------------------------------------>
    }